<h3> <center> Employee Options </center></h3>

<form action="/employeeMain" method="POST" autocomplete="off">
    <body>
        <div class="text-center" aria-posinset="relative">
                <a class="btn btn-primary btn-lg" href="/list"><i class="fa fa-list-alt"></i> Show Employee List </a>
                <a class="btn btn-primary btn-lg" href="/employeeEdit"><i class="fa fa-wrench"></i> Create an Employee </a>
                <a class="btn btn-primary btn-lg" href="/mainPage"><i class="fa fa-home"></i> Home Page </a>
        </div>
    </body>  
</form>
