<h3> <center> Skills Options </center></h3>

<form action="/skillMain" method="POST" autocomplete="off">
    <body>
        <div class="text-center" aria-posinset="relative">
                <a class="btn btn-info btn-lg" href="/skillList"><i class="fa fa-list-alt"></i> Show Skill List </a>
                <a class="btn btn-info btn-lg" href="/skillEdit"><i class="fa fa-wrench"></i> Create a Skill </a>
                <a class="btn btn-info btn-lg" href="/mainPage"><i class="fa fa-home"></i> Home Page </a>
        </div>
    </body>  
</form>
